<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Order</title>
</head>

<body>
    <h1>Edit Order</h1>
    <form action="/orders/<%=order._id%>?_method=PUT" method="POST">
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="order[location]">
        </div>
        <div>
            <label for="Dtime">Delivery Time</label>
            <input type="text" id="Dtime" name="order[Dtime]">
        </div>
        <button>Update Order</button>
    </form>
    <a href="/orders/<%= order._id%>">Back To Order</a>

</body>

</html>